<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Animevsub247 | Mini Game Đặt Cược Kiếm Tiền</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="description" content="Animevsub247 | Mini Game Đặt Cược Kiếm Tiền">
    <meta name="keywords" content="Animevsub247 | Mini Game Đặt Cược Kiếm Tiền">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Animevsub247 | Mini Game Đặt Cược Kiếm Tiền">
    <meta name="twitter:description" content="Animevsub247 | Mini Game Đặt Cược Kiếm Tiền">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:width" content="200">
    <meta name="twitter:image:height" content="200">
    <script src="/js/block.js"></script>
    <link rel="icon" href="https://nrocltx.com/image/icon.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- add code tx -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="/minigame/css/style.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</head>

<body class="bg-light" style="">
    <div class="container-fluid" style="padding: 0;">
        <% if (checkLogin == true) { %>
            <div data-v-04e3b381="" class="my">
                <div data-v-04e3b381="" class="top top-header">
                    <div data-v-04e3b381="" class="left">
                        <div data-v-04e3b381="">Số dư khả dụng</div>₫
                        <span data-v-04e3b381="" class="left_money" style="font-size: 18px;"><%=String(rows[0].money).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')%></span>
                    </div>
                    <button data-v-04e3b381="" class="rule van-button-rule van-button van-button--default van-button--mini" data-toggle="modal" data-target="#modalHuongDan">
          <div data-v-04e3b381="" class="van-button__content">
            <span data-v-04e3b381="" class="van-button__text">
              <img data-v-04e3b381="" src="/images/rule.png" alt="">
            </span>
          </div>
        </button>
                </div>
                <div data-v-04e3b381="" class="bottom-header top-header" style="align-items: center;">
                    <span data-v-04e3b381="">No.<span data-v-04e3b381=""><%=rows[0].id_user%></span></span>
                    <span data-v-04e3b381="" id="name_user" text-name="<%=rows[0].name_user%>"></span>
                    <button onclick="location.href='/financial/recharge'" data-v-7d40872f="" class="header-bottom__button" style="border: none;background: none;padding: 0;background: #f9f1ad;color: #000;padding: 4px 18px;border-radius: 20px;font-size: 14px;">Nạp
          tiền</button>
                </div>
            </div>
            <% } %>
    </div>
    <div>
        <h5 class="text-center mt-4 text-dark" style="margin: 0px;" id="darkMode1">HỆ THỐNG MINI GAME</h5>
        <!-- <p class="text-center text-dark" style="margin-bottom: 5px;" id="darkMode2">Được đảm bảo uy tín từ <br>
      <span class="font-weight-bold">Youtuber
        <span id="content">View6sao TV</span>
      </span> -->
        </p>
        <hr style="width: 15%; height: 1px" class="bg-danger">
    </div>
    <div class="custom-control custom-switch text-center mt-2 ">
        <input type="checkbox" class="custom-control-input darkModeTheme" id="darkMode">
        <label class="custom-control-label text-dark" id="darkMode3" for="darkMode">Giao diện tối</label>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-6" id="index-box-ketqua">
                <div class="card border-info">
                    <div class="card-header bg-info text-light border-seccond text-center font-weight-bold"><span class="fas fa-history"></span> KẾT QUẢ</div>
                    <%- include('temp/info'); -%>
                </div>
                <div class="card border-info" style="margin-top: 25px;">
                    <div class="card-header bg-info text-light border-seccond text-center font-weight-bold"><span class="fas fa-gavel"></span> ĐẶT CƯỢC</div>
                    <div class="card-body border-seccond bg-light text-dark" style="padding: 30px 15px" id="cardDatCuoc">
                        <div class="input-group form-group">
                            <span class="input-group-prepend">
                <div class="input-group-text bg-light border-right-0 changeTheme" style="color: green;">
                  <i class="fa fa-coins"></i>
                </div>
              </span>
                            <input class="form-control py-2 border-left-0 border" style="font-weight: bold; color: green;z-index: 0;" type="search" value="<%= (checkLogin == true) ? String(rows[0].money).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') : 0 %>" id="goldUser" readonly="">
                        </div>
                        <form id="form">
                            <div class="input-group form-group">
                                <span class="input-group-prepend" style="border-right: 1px solid red;">
                  <div class="input-group-text bg-light border-right-1 changeTheme" style="color: red; padding: 6px 10px;"><i class="fa fa-gamepad"></i></div>
                </span>
                                <select class="form-control py-2 border-left-0 border" style="color: red;z-index: 0;" id="type" name="type">
                  <option value="0" selected="">Chẵn lẻ - Tài xỉu (10tr ăn 19tr)</option>
                  <option value="1">Xiên (10tr ăn 32tr)</option>
                  <!-- <option value="2">Dự đoán kết quả (10tr ăn 700tr)</option> -->
                </select>
                            </div>
                            <label>Kết quả dự đoán:</label>
                            <%- include('temp/thamgia'); -%>
                                <div class="input-group form-group">
                                    <span class="input-group-prepend" style="border-right: 1px solid red;">
                  <div class="input-group-text bg-light border-right-1 changeTheme"><i class="fa fa-gavel"></i>
                  </div>
                </span>
                                    <input class="form-control py-2 border-left-0 border" style="font-weight: bold;z-index: 0;" type="text" value="" id="gold" placeholder="Nhập số tiền đặt cược" data-money="0">
                                </div>

                        </form>
                        <div id="alert"></div>
                        <button class="btn btn-info font-weight-bold text-uppercase form-control" type="button" id="btnSubmit">Đặt ngay</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card border-info">
                    <div class="card-header bg-info text-light border-seccond text-center font-weight-bold"><span class="fas fa-comments"></span> BOX CHAT</div>
                    <div class="show" id="anboxchat">
                        <div class="card-body text-seccond bg-light text-dark" id="chatGlobal">

                        </div>
                        <div class="card-footer border-seccond bg-light text-dark " style="padding: 0; border: none" id="darkBoxChat">
                            <input type="text" id="chatContent" class="form-control" style="margin-bottom: 0px;border-radius: 0;" placeholder="Nhập nội dung chat">
                            <button class="btn btn-info form-control font-weight-bold" id="chatButton" style="border-radius: 0;">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-4">
            <div class="col text-center">
                <!-- <button class="btn btn-sm btn-danger font-weight-bold text-uppercase" type="button" onclick="nhanvang();"><span class="fas fa-coins"></span> Nhận vàng VIP</button> -->
                <a class="btn btn-sm btn-primary font-weight-bold text-uppercase collapsed showBoxChat" data-toggle="collapse" href="#anboxchat" role="button" aria-expanded="true" aria-controls="anboxchat">
                    <span class="iconChange fas fa-eye-slash"></span> Ẩn chat
                </a>
            </div>
        </div>

        <%- include('history'); -%>
            <%- include('model'); -%>
    </div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="/minigame/js/main.dev.js"></script>

</html>